<div class="container">
	<div class="row">
		<div class="col-md-4">		
			<form [formGroup]="heroForm" novalidate>
				<legend>Form Group创建的响应式表单</legend>
			
				<div class="form-group">
					<label for="">Name</label>
					<input type="text" class="form-control" formControlName="name">
				</div>
			
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-default">Reset</button>

				<p>{{ heroForm.value | json }}</p>
				<p>{{ heroForm.status | json }}</p>
			</form>
				
		</div>
		<div class="col-md-4">
			<form [formGroup]="heroForm2" novalidate>
				<legend>Form Builder创建响应式表单</legend>
			
				<div class="form-group">
					<label for="">Mobile</label>
					<input type="number" class="form-control" formControlName="mobile">
				</div>
				<div class="form-group">
					<label for="">Age</label>
					<input type="number" class="form-control" formControlName="age">
				</div>
				<div class="form-group">
					<label for="">Sex</label>
					<div class="radio">
						<label>
							<input type="radio" formControlName="sex" value="male">
							男
						</label>
						<label>
							<input type="radio" formControlName="sex" value="female">
							女
						</label>
					</div>
				</div>
			
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-default">Reset</button>

				<p>上述表单的JSON数据：{{ heroForm2.value | json }}</p>
				<p>表单状态：{{ heroForm2.status | json }}</p>
				<p>特定表单项的属性都来自
					<a href="https://www.angular.cn/docs/ts/latest/api/forms/index/AbstractControl-class.html">AbstractControl</a>。比如Mobile项有以下属性：<br>
					value值：{{ heroForm2.get('mobile').value }} <br>
					status状态：{{ heroForm2.get('mobile').status }} <br>
					<!-- valid：{{ heroForm2.get('mobile').valid }} <br>
					invalid：{{ heroForm2.get('mobile').invalid }} <br>
					pending：{{ heroForm2.get('mobile').pending }} <br>
					disabled：{{ heroForm2.get('mobile').disabled }} <br>
					enabled：{{ heroForm2.get('mobile').enabled }} <br> -->
					errors：{{ heroForm2.get('mobile').errors | json }} <br>
					pristine变更：{{ heroForm2.get('mobile').pristine }} <br>
					touched焦点事件：{{ heroForm2.get('mobile').touched }} <br>
				</p>
			</form>
		</div>
		<div class="col-md-4">
			响应式表单的用处：<br>
			提交新建数据。可以创建空白的表单。
			提交编辑数据。当url请求一个编辑页面时，后台会返回同一数据模型的不同数据。<br>
			这时就用Formbuilder创建 编辑表单
		</div>
	</div>
</div>