<!-- <h1>{{title}}</h1>
<h2>{{hero.name}} details!</h2>
<div>
    <label>id: </label>{{hero.id}}</div>
<div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
</div> -->


<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> -->
<!-- <a routerLink="/heroes">Heroes</a> -->
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/form1" routerLinkActive="active">响应式表单</a>
</nav>
<router-outlet></router-outlet>
