<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <!-- <div *ngFor="let hero of heroes" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div> -->

  <!-- 这次 routeLink 使用 `链接参数数组` 的形式 -->
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
  	<div class="module hero">
  	  <h4>{{hero.name}}</h4>
  	</div>
  </a>
</div>
<app-hero-search></app-hero-search>